<!--The content below is only a placeholder and can be replaced.-->
<!doctype html>
<html lang="en">
<header>
  <app-navbar></app-navbar>
  <router-outlet></router-outlet>
  <app-users>
    <meta charset="UTF-8">
    <title>cosmetics shop</title>
  </app-users>
</header>

  <meta charset="UTF-8">
  <title>cosmetics shop</title>
<head xmlns:width="http://www.w3.org/1999/xhtml" xmlns:width="http://www.w3.org/1999/xhtml">


</head>
<body>

<div id="page">
  <header>

    <!--<nav class="sticky">-->
      <!--<ul>-->
        <!--<li><a href="#"> Create an account </a></li>-->
        <!--<li><a href="3"> Sign in </a></li>-->
      <!--</ul>-->
    <!--</nav>-->
    <app-categories></app-categories>



  </header>
  <br><br><br><br>


  <div class="slider">

    <div class="slide-viewer">

      <div class="slide-group">

        <div class="slide slide-1">
          <img src="../assets/slide-1.jpg" alt="No two are the same" style="width: 100%"/>
        </div>
        <div class="slide slide-2">
          <img src="../assets/slide-2.jpg" alt="No two are the same" style="width: 100%"/>

        </div>
        <div class="slide slide-3">
          <img src="../assets/slide-4.jpg" alt="Salt o' The Sea" style="width: 100%"/>
        </div>
        <div class="slide slide-4">
          <img src="../assets/slide-3.jpg" alt="No two are the same" style="width: 100%"/>

        </div>
      </div>
    </div>

    <div id="magda" class="slide-buttons">
    </div>
  </div>
  <br/><br/><br/><br/>


</div>
</body>

<router-outlet></router-outlet>
<body>

</body>
