<head xmlns:width="http://www.w3.org/1999/xhtml" xmlns:width="http://www.w3.org/1999/xhtml">

</head>

<body>
<div id="page">
  <header></header>
  <div class="slider">
    <div class="slide-viewer">
      <div class="slide-group">

        <div class="slide slide-1">
          <img src="../../assets/slide-1.jpg" alt="No two are the same" style="width: 100%"/></div>
        <div class="slide slide-2">
          <img src="../../assets/slide-2.jpg" alt="No two are the same" style="width: 100%"/></div>
        <div class="slide slide-3">
          <img src="../../assets/slide-4.jpg" alt="Salt o' The Sea" style="width: 100%"/></div>
        <div class="slide slide-4">
          <img src="../../assets/slide-3.jpg" alt="No two are the same" style="width: 100%"/></div>

      </div>
    </div>
    <div id="magda" class="slide-buttons"></div>
  </div>
<app-products ></app-products>
</div>
</body>
