<!--<head xmlns:width="http://www.w3.org/1999/xhtml" xmlns:width="http://www.w3.org/1999/xhtml">-->
  <!--&lt;!&ndash;<meta charset="UTF-8">&ndash;&gt;-->
  <!--&lt;!&ndash;<title>cosmetics shop</title>&ndash;&gt;-->
  <!--&lt;!&ndash;<link rel="stylesheet" href="users.component.css" type="text/css">&ndash;&gt;-->


<!--</head>-->
<!--<body>-->

<!--<div id="page">-->
<!--<header>-->

  <!--<nav class="sticky">-->
    <!--<ul>-->
      <!--<li><a href="#"> Create an account </a></li>-->
      <!--<li><a href="3"> Sign in </a></li>-->
    <!--</ul>-->
  <!--</nav>-->


 <!--<app-categories></app-categories>-->


<!--</header>-->
<!--<br><br><br><br>-->


  <!--<div class="slider">-->

    <!--<div class="slide-viewer">-->

      <!--<div class="slide-group">-->

        <!--<div class="slide slide-1">-->
          <!--<img src="../../assets/slide-1.jpg" alt="No two are the same" style="width: 100%"/>-->
        <!--</div>-->
        <!--<div class="slide slide-2">-->
          <!--<img src="../../assets/slide-2.jpg" alt="No two are the same" style="width: 100%"/>-->

        <!--</div>-->
        <!--<div class="slide slide-3">-->
          <!--<img src="../../assets/slide-4.jpg" alt="Salt o' The Sea" style="width: 100%"/>-->
        <!--</div>-->
        <!--<div class="slide slide-4">-->
          <!--<img src="../../assets/slide-3.jpg" alt="No two are the same" style="width: 100%"/>-->

        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div id="magda" class="slide-buttons">-->
      <!--&lt;!&ndash;<button type="button" class="slide-btn">&bull;</button>&ndash;&gt;-->
      <!--&lt;!&ndash;<button type="button" class="slide-btn">&bull;</button>&ndash;&gt;-->
      <!--&lt;!&ndash;<button type="button" class="slide-btn">&bull;</button>&ndash;&gt;-->
      <!--&lt;!&ndash;<button type="button" class="slide-btn">&bull;</button>&ndash;&gt;-->

    <!--</div>-->
  <!--</div>-->
<!--<br/><br/><br/><br/>-->



  <!--&lt;!&ndash;<div *ngFor="let user of users">&ndash;&gt;-->
      <!--&lt;!&ndash;{{user.name}}&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->


<!--</div>-->


<!--</body>-->
